.featured {
background-color: #efefef;
}

.featured__link {
display: inline-block;
margin-right: 45px;
}

code {
font-family: Menlo, monospace;
font-size: 15px;
vertical-align: middle;
}

.actions {
/* margin-top: 30px; */
}

.scrollable-parent,
.scrollable-element-to-top,
.scrollable-element-by {
background-color: #efefef;
border-radius: 4px;
margin: 20px 0 0;
max-height: 200px;
overflow: scroll;
padding: 30px 50px;
}

.hello {
text-align: center;
}

footer {
background-color: #404040;
color: #fefefe;
font-size: 18px;
}

footer a {
color: inherit;
}

.ml--1 {
    margin-left: -(rem * .25) !important;
}
.ml--2 {
    margin-left: -(rem * .5) !important;
}
.ml--3 {
    margin-left: -(rem) !important;
}
.ml--4 {
    margin-left: -(rem * 1.5) !important;
}
.ml--5 {
    margin-left: -(rem * 3) !important;
}
.mr--1 {
    margin-right: -(rem * .25) !important;
}
.mr--2 {
    margin-right: -(rem * .5) !important;
}
.mr--3 {
    margin-right: -(rem) !important;
}
.mr--4 {
    margin-right: -(rem * 1.5) !important;
}
.mr--5 {
    margin-right: -(rem * 3) !important;
}

.right{
    float:right;
}

.left{
    float:left;
}

.parallax {
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}