@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
//@import "../bootstrap/scss/functions";
//@import "../bootstrap/scss/variables";
//@import "../bootstrap/scss/mixins";

body {
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #ffffff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar.active {
    margin-left: -25%;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #ffffff;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 85vw;
    padding: 2vw;
    min-height: 100vh;
    transition: all 0.3s;
}

//.dark {
//
//    $enable-gradients: true;
//
//    /* redefine theme colors for dark theme */
//    $primary: #1b63e7;
//    $secondary: #828a92;
//    $info: #007898;
//    $danger: #ff4b78;
//    $success: #79d4a2;
//    $dark: #d6dade;
//    $light: #050607;
//
//
//    $theme-colors: (
//        "primary": $primary,
//        "secondary": $secondary,
//        "success": $success,
//        "danger": $danger,
//        "info": $info,
//        "dark": $dark,
//        "light": $light,
//    );
//
//    /* redefine theme color variables */
//    @each $color, $value in $theme-colors {
//        --#{$variable-prefix}#{$color}: #{$value};
//    }
//
//    $theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
//
//    @each $color, $value in $theme-colors-rgb {
//        --#{$variable-prefix}#{$color}-rgb: #{$value};
//    }
//
//    $body-color: #eeeeee;
//    $body-bg: #000000;
//
//    --#{$variable-prefix}body-color: #{$body-color};
//    --#{$variable-prefix}body-bg: #{$body-bg};
//
//    @import "../bootstrap/scss/bootstrap";
//}
